<template name="pnReplyForm">
<div class="col-md-9 pull-right">
  <div class="box pnReply">
    <form role="form" class="form form-horizontal" id="newReply">
      <fieldset>
        <!-- replyText -->
        <div class="form-group">
          <div class="col-sm-12">                       
            <textarea class="form-control summernote" id="replyText" name="replyText" rows="8"></textarea>                   
          </div>
        </div>
      </fieldset>
      <div class="spacer-20"></div>
      <fieldset>
        <div class="control-group">            
          <div class="controls">              
            <input type="submit" class="btn btn-pn" value="Absenden"/> 
            <input type="reset" class="btn btn-pn" value="Abbrechen"/>             
          </div>          
        </div>
      </fieldset> 
    </form>
  </div>
</div>
</template>