<template name="globalHeader">
  <!-- header -->
  <div class="header global">
    <div class="topnav">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/dashboard"><i class="fa fa-home"></i> Home</a></li>
                  <li><a href="/calendar"><i class="fa fa-calendar"></i> Kalender</a></li>
                  <li><a href="/newgame"><i class="fa fa-plus"></i> Neu</a></li>
                  <li><a href="/news"><i class="fa fa-bell"></i> News</a></li>
                  <li><a href="/userlist"><i class="fa fa-users"></i> User</a></li>
                </ul>
                {{#if currentUser}}
                  {{#with currentUser}}
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{#with profile}}{{nickname}}{{/with}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/user/show/{{slug}}"><i class="fa fa-user"></i> Mein Profil</a></li>
                          <li><a href="/user/entries"><i class="fa fa-pencil"></i> Meine Einträge</a></li>
                          <li><a href="/user/calendar"><i class="fa fa-calendar-o"></i> Mein Kalender</a></li>
                          <li><a href="/user/edit"><i class="fa fa-cubes"></i> Profil bearbeiten</a></li>
                          <li><a href="/user/messages/list"><i class="fa fa-inbox"></i> Private Nachrichten</a></li>
                          <li><a href="/user/settings"><i class="fa fa-cogs"></i> Einstellungen</a></li>                   
                        </ul>
                      </li>
                      {{#if isInRole 'admin'}}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs"></i> Admin<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/"><i class="fa fa-cubes"></i> News</a></li>
                            <li><a href="/"><i class="fa fa-cubes"></i> Spiele</a></li>
                            <li><a href="/"><i class="fa fa-cubes"></i> User</a></li>
                          </ul>
                        </li>
                      {{/if}}                   
                      <li><a href="/logout"><i class="fa fa-sign-out"></i> Ausloggen</a></li>
                    </ul>
                  {{/with}}
                {{/if}}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>  
  </div>    
</template>
