<template name="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-box">
          <div class="panel-body">
            <h1>Willkommen zurück, {{#with currentUser}}{{#with profile}}{{nickname}}{{/with}}{{/with}}</h1>
            <p>
              Die einzelnen Einträge können per Suche oder per Filter (Spiel oder Spieltyp) eingegrenzt werden.<br>
              Die Filter können nur getrennt voneinander und nicht gleichzeitig eingesetzt werden.
            </p>
          </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-box">
          <div class="panel-body">
            <div class="col-sm-4">
              <input type="text" class="form-control" id="gameHomeSearch" name="gameHomeSearch" placeholder="Suche..." > 
            </div>
            <div class="col-sm-4">
              <!-- gameTitle -->
              {{> getGamesSelect}} 
            </div>
            <div class="col-sm-4">
              <!-- gameType -->
              {{> getGenresSelect}}
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="row">
      {{#ifEsInputIsEmpty index="gamesHome"}}
        {{> dashboardAll}}        
      {{/ifEsInputIsEmpty}}
          
      {{#esEach index="gamesHome"}}
        {{> dashboardResults}}
      {{/esEach}}
              
      {{> esLoadMoreButton index="gamesHome"}}
              
      {{#ifEsHasNoResults index="gamesHome"}}
        <div class="no-results"><h3><small>Keine Einträge gefunden. Bitte erneut suchen.</small></h3></div>
      {{/ifEsHasNoResults}}
              
      {{#ifEsIsSearching index="gamesHome"}}
        <div><h3><small>Es wird gesucht...</small></h3></div>
      {{/ifEsIsSearching}}
    </div>
  </div>
</template>

<template name="dashboardResults">
          <div class="col-sm-4">
            <div class="panel panel-entry">
              <div class="panel-heading">{{gameTitle}}</div>
              <div class="panel-body">
                <!-- WAS -->
                <p>
                  <i>{{{gameInfotext}}}</i>
                </p>
                <!-- WANN -->
                <p>
                  Wann: {{formatCalendar gameDate}}.
                </p>
                <!-- WO -->
                <p>
                  Wo: Auf unseren Servern.
                </p>
                <!-- WER -->
                <p>
                  Eingetragene Spieler ( 0{{#if gamePlayerMax}} / {{gamePlayerMax}}{{/if}} ):
                </p>             
              </div> 
              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-8"><p>User: <a href="profil/{{getUserPath}}"> {{gameUser}}</a></p></div>
                  <div class="col-sm-4 join"><p><a href="" id="{{_id}}" class="joinThis">Beitreten</a></p></div>
                </div>
              </div> 
            </div>
          </div>
</template>

<template name="dashboardAll">
        {{#each getAllGames}}
          <div class="col-sm-4">
            <div class="panel panel-entry">
              <div class="panel-heading">{{gameTitle}}</div>
              <div class="panel-body">
                <!-- WAS -->
                <p>
                  <i>{{{gameInfotext}}}</i>
                </p>
                <!-- WANN -->
                <p>
                  Wann: {{formatCalendar gameDate}}.
                </p>
                <!-- WO -->
                <p>
                  {{#if gameOwnServer}}Wo: Auf unseren Servern. {{else}}{{#if gameServer}} Wo: {{gameServer}}{{/if}}{{/if}}
                </p>
                <!-- WER -->
                <p>
                  Eingetragene Spieler ( {{gameCount}} {{#if gamePlayerMax}}/ {{gamePlayerMax}}{{/if}} ): {{#each gamePlayers}}<a href="profil/{{getPlayerPath}}">{{userName}}</a> {{/each}}
                </p>             
              </div> 
              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-8"><p>User: <a href="profil/{{getUserPath}}"> {{gameUser}}</a></p></div>
                  {{#if checkFull}}
                    {{#if checkIfJoined}}
                      <div class="col-sm-4 join"><p><a href="" id="{{_id}}" class="leaveThis">Verlassen</a></p></div>
                    {{else}}
                      <div class="col-sm-4 join full"><p><a href="" id="{{_id}}" class="joinDeactivated">VOLL</a></p></div>
                    {{/if}}
                  {{else}}
                    {{#if checkIfJoined}}
                      <div class="col-sm-4 join"><p><a href="" id="{{_id}}" class="leaveThis">Verlassen</a></p></div>
                    {{else}}
                      <div class="col-sm-4 join"><p><a href="" id="{{_id}}" class="joinThis">Beitreten</a></p></div>
                    {{/if}}
                  {{/if}}
                </div>
              </div> 
            </div>
          </div>     
        {{/each}}
</template>