<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-box">
          <div class="panel-body">
            <h1>Willkommen zurück, {{#with currentUser}}{{#with profile}}{{nickname}}{{/with}}{{/with}}</h1>
            <p>
              Erklärbärtext / News /Whatever
            </p>
          </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-box">
          <div class="panel-body">
            <p>
              Suche / Sortierung / Filterung nach Spiel etc.
            </p>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-entry">
          <div class="panel-heading">GuildWars 2</div>
          <div class="panel-body">
            <p>
              Suche min. 4 Spieler für Heute, 17 Uhr.
            </p>             
          </div> 
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8"><p>User: <a href="#"> ToWoKo</a></p></div>
              <div class="col-sm-4 join"><p><a href="#">Beitreten</a></p></div>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-entry">
          <div class="panel-heading">Minecraft</div>
          <div class="panel-body">
            <p>Suche für unseren FtB-Server 2 weitere Spieler.</p>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8"><p>User: <a href="#"> Peter Pan</a></p></div>
              <div class="col-sm-4 join"><p><a href="#">Beitreten</a></p></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</template>